@model CadastroProduto.Models.Domain.Acessorio

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Dados do Acessório</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Basico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Basico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Linha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Linha.Nome)
        </dd>
    </dl>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Editar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
    </form>
</div>

